<!DOCTYPE html>
<html lang="en" ng-app="ngFormzin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ng-formzin</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/dist/assets/css/main.css" />
    <script src="/plugins/angular/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/ng-formzin.angular.js"></script>
    <script src="/app.js"></script>
</head>

<body ng-controller="DemoController">
    <!-- Header -->
    <section id="header">
        <div class="inner">
            <h1><strong>Formzin para AngularJs</strong></h1>
            <p>Mascaras, filtros, validações e manipulações de formulários.</p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Exemplo</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="col-md-12">
                <h2>Como usar</h2>
                <p>Para utilizar basta chamar o arquivo:</p>
            </div>
            <div class="col-md-12">
                <h2>Campos</h2>
                <form name="formMascaras">
                    <div class="form-group" ng-class="{ 'has-error' : formMascaras.mascaraCpf.$invalid && !formMascaras.mascaraCpf.$pristine }">
                        <label for="mascaraCpf">CPF</label>
                        <input type="text" class="form-control" name="mascaraCpf"
                            ng-model="mascaraCpf"
                            ng-formzin
                            validate="cpf"
                            mask="cpf"
                            required />
                         <b>Resultado:</b> {{mascaraCpf}}<br>
                         <b>Invalid:</b> {{formMascaras.mascaraCpf.$invalid}}<br>
                    </div>    
                    <div class="form-group" ng-class="{ 'has-error' : formMascaras.mascaraCnpj.$invalid && !formMascaras.mascaraCnpj.$pristine }">
                        <label for="mascaraCnpj">CNPJ</label>
                        <input type="text" class="form-control" name="mascaraCnpj"
                            ng-model="mascaraCnpj"
                            ng-formzin
                            mask="cnpj"
                            validate="cnpj"
                            required />
                         <b>Resultado:</b> {{mascaraCnpj}}<br>
                         <b>Invalid:</b> {{formMascaras.mascaraCnpj.$invalid}}<br>
                    </div>    
                    <div class="form-group" ng-class="{ 'has-error' : formMascaras.mascaraDataPtbr.$invalid && !formMascaras.mascaraDataPtbr.$pristine }">
                        <label for="mascaraDataPtbr">Data (PT-BR)</label>
                        <input type="text" class="form-control" name="mascaraDataPtbr"
                            ng-model="mascaraDataPtbr"
                            ng-formzin
                            mask="date"
                            validade="date" />
                         <b>Resultado:</b> {{mascaraDataPtbr}}<br>
                         <b>Invalid:</b> {{formMascaras.mascaraDataPtbr.$invalid}}<br>
                    </div>    
                    <div class="form-group" ng-class="{ 'has-error' : formMascaras.mascaraDataEn.$invalid && !formMascaras.mascaraDataEn.$pristine }">
                        <label for="mascaraDataEn">Data (EN)</label>
                        <input type="text" class="form-control" name="mascaraDataEn"
                            ng-model="mascaraDataEn"
                            ng-formzin
                            mask="dateEn"
                            validade="date" />
                         <b>Resultado:</b> {{mascaraDataEn}}<br>
                         <b>Invalid:</b> {{formMascaras.mascaraDataEn.$invalid}}<br>
                    </div>  
                </form>    
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="/dist/assets/js/jquery.min.js"></script>
    <script src="/dist/assets/js/jquery.scrolly.min.js"></script>
    <script src="/dist/assets/js/skel.min.js"></script>
    <script src="/dist/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/dist/assets/js/main.js"></script>
</body>

</html>